body,
html {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.bg {
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.logo-gif {
    background: white;
    border-radius: 55px;
    padding: 3px;
}

.logo-gif>img {
    border-radius: 50px;
}

.navbar {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    padding: 0 65px;
    height: 77px;
    /* text-decoration: underline; */
}

.navbar-burger {
    color: white;
}

.navbar-menu.is-active {
    background-color: rgba(0, 0, 0, .05);
}

.navbar-item {
    color: white;
}

.navbar-item:hover {
    color: wheat !important;
}

.navbar-item img {
    max-height: 96px;
}

.section {
    width: 90%;
    margin: -45px auto;
    padding: 0;
}

.section>.container {
    background: white;
    padding-top: 45px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container section {
    margin-bottom: 70px !important;
    padding: 0 40px;
}

.column {
    /* border: 0.5px solid #0e0e0E; */
    /* margin: auto; */
}

.icon {
    color: black;
}

.socials {
    display: grid;
    padding-left: 30px;
}

.footer {
    background-color: #363636;
    padding: 35px 30px;
    color: white;
}

a:not(.navbar-item,
.navbar-burger) {
    color: #4a4a4a;
    text-decoration: underline;
}

.footer a {
    color: white;
}

@media screen and (max-width: 769px) {
    .informations {
        text-align: center;
    }
    .navbar {
        padding: 0;
    }
    .socials {
        padding-left: 15px;
    }
}

.navbar-brand {
    align-items: center;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: transparent;
    text-decoration: underline;
}


/* .navbar-burger span {
    color: white;
    line-height: 1.5px;
} */


/* .navbar-menu {
    background-color: beige;
    background-color: black;
    color: black;
    width: 22%;
    float: right;
    position: absolute;
    right: 0;
} */


/* #return-to-top {
    animation: ;
}

#return-to-top i {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
} */